truModule/src/main/java/com/truRating/xml/questionResponse/QuestionResponse - v1.22.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ServiceMessage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Languages" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Defines one or more languages required for truRating display and receipt errorText</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Language" minOccurs="0" maxOccurs="2">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="DisplayElements" minOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>All elements displayed on PIN Pad</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Question" minOccurs="1">
                                                        <xs:annotation>
                                                            <xs:documentation>Question element is always present</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:attribute name="qid" type="xs:long" use="required">
                                                                <xs:annotation>
                                                                    <xs:documentation>truRating question identifier</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="value" type="xs:string" use="required">
                                                                <xs:annotation>
                                                                    <xs:documentation>truRating question</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="questiontimeout" type="xs:unsignedShort" use="optional">
                                                                <xs:annotation>
                                                                    <xs:documentation>how long to display the question in milliseconds</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Prize" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:documentation>Prize element only present if a prize can be won.</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:attribute name="prizecode" type="xs:string" use="optional">
                                                                <xs:annotation>
                                                                    <xs:documentation>Code for the prize</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="value" type="xs:string" use="optional">
                                                                <xs:annotation>
                                                                    <xs:documentation>errorText associated with the prize
</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="prizetimeout" type="xs:unsignedShort" use="optional">
                                                                <xs:annotation>
                                                                    <xs:documentation>how long to display the prize errorText and code</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Acknowledgement" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:documentation>Acknowledge elements for rating and not rating</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:attribute name="ratedvalue" type="xs:string" use="optional">
                                                                <xs:annotation>
                                                                    <xs:documentation>acknowledgement errorText when a rating has occurred</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="notratedvalue" type="xs:string" use="optional">
                                                                <xs:annotation>
                                                                    <xs:documentation>acknowledgement errorText when no rating has occurred</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="acknowledgetimeout" type="xs:unsignedShort" use="optional">
                                                                <xs:annotation>
                                                                    <xs:documentation>how long to display acknowledgement in milliseconds</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Receipt" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="ratedvalue" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>receipt errorText when a rating has occurred.</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="notratedvalue" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>receipt errorText when no rating has occurred.</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="languagetype" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>The local language idnetifer as defined by RFC 5646</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="includereceipt" type="xs:boolean" use="required">
                                        <xs:annotation>
                                            <xs:documentation>true - include truRating receipt errorText
false - do not include truRating receipt errorText</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="includeacknowledgement" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:documentation>true - include truRating Acknowledgement errorText
false - do not include truRating Acknowledgement errorText</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="uid" type="xs:unsignedLong" use="required">
                <xs:annotation>
                    <xs:documentation>unique identification number</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="messagetype" use="required">
                <xs:annotation>
                    <xs:documentation>truService Interface message type</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="QuestionRequest" />
                        <xs:enumeration value="QuestionResponse" />
                        <xs:enumeration value="RatingDelivery" />
                        <xs:enumeration value="RatingResponse" />
                        <xs:enumeration value="Error" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="mid" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>merchant identifier</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="tid" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>terminal identifier</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="errortext" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>errorText describing the error</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="errorcode" type="xs:integer" use="optional">
                <xs:annotation>
                    <xs:documentation>predefined error code</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
